.ai-recommendations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #368fd3; 
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.header h1 {
  font-size: 2em; 
  font-weight: 700;
  margin-bottom: 5px;
  color: #ffffff; 
  text-shadow: 2px 2px 0 #368fd3, -2px -2px 0 #368fd3, 2px -2px 0 #368fd3, -2px 2px 0 #368fd3 !important; 
}

.header p {
  font-size: 1em; 
  color: #ffffff; 
  font-weight: 600;
  text-shadow: 1px 1px 0 #368fd3, -1px -1px 0 #368fd3, 1px -1px 0 #368fd3, -1px 1px 0 #368fd3 !important; 
}

.content {
  width: 80%;
  max-width: 800px; 
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.content p {
  font-size: 1.2em; 
  color: #368fd3; 
  font-weight: 600;
  text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff; 
}

.textarea-container {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  min-height: 400px;
  padding: 20px;
  border: 1px solid #457b9d;
  border-radius: 10px;
  font-size: 20px;  
  line-height: 1.6; 
  background-color: #368fd3; 
  color: #ffffff;
  font-family: 'Roboto', sans-serif; 
  resize: vertical;
  white-space: pre-wrap;  
  word-wrap: break-word;
}

textarea::placeholder {
  color: #ffffff; 
  font-weight: 600;
  font-style: italic; 
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #457b9d;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
}

.button-next {
  padding: 10px 30px; 
  background-color: #ffffff; 
  color: #368fd3; 
  border: 2px solid #368fd3;;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
}

button:disabled {
  background-color: #a8dadc;
  color: #457b9d;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.search-results {
  margin-top: 20px;
  text-align: left;
}

.search-results ul {
  list-style: none;
  padding: 0;
}

.search-results li {
  margin-bottom: 5px;
}

.loading-gemini-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #e3f2fd, #bbdefb);
  text-align: center;
  padding: 20px;
}

.loading-message {
  font-size: 1.5rem;
  font-weight: 500;
  color: #0d47a1;
  margin-top: 20px;
}

.wizo-searching {
  width: 200px;
  animation: fly 2s ease-in-out infinite alternate;
}

.wizo-matched {
  width: 200px;
  animation: pop-in 0.4s ease-in-out;
}

@keyframes fly {
  from { transform: translateY(0); }
  to { transform: translateY(-20px); }
}

@keyframes pop-in {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
