/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

body {
  background: url('../utils/Spotwise_background.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif !important;
}