.logo {
  height: 65px;
}

.logo-name {
  font-size: x-large;
  font-weight: bold;
}

.logo-name:hover {
  color: #333;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

a:hover {
  color: #007bdc;
}