.profile-title {
    color: #368fd3;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
  }

  .create-profile-button {
    background: #ffffff !important;
    color: #368fd3 !important;
    padding: 12px 40px;
    border: 2px solid #368fd3 !important;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .create-profile-button:hover {
    background: #368fd3 !important;
    color: #ffffff !important;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  